#customers {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }
 
#customers td, #customers th {
   border: 1px solid #ddd;
   padding: 8px;
 }
 
#customers tr:nth-child(even){background-color: #f2f2f2;}
 
#customers tr:hover {background-color: #f3f0f0;}
 
#customers th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #04AA6D;
   color: white;
}
.btn_UserMana{
   border: 0;
   padding-left: 8px;
   background: transparent;
   .icon{
      width: 30px;
      height: auto;
   }
   .orange{
      color: orange;
   }
   .red{
      color: red;
   }
}
.model-user-container{

   .modal-content{
      .modal-header{
         button{
            background-color: transparent !important;
            color: #FFF;
            border: none;
            font-size: 25px;
         }
      }
   }

   .model-user-body{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .input-container{
         display: flex;
         flex-direction: column;
         width: 48%;
         &.max-w-input-100{
            width: 99%;
         }
         &.max-w-input-68{
            width: 66%;
         }
         &.max-w-input-30{
            width: 30%;
         }
         input{
            border-radius: 3px;
            height: 50px;
            outline: none;
            padding: 0 10px;
            border: 1px solid rgb(81, 183, 196);
         }
      }
   }
}